<!DOCTYPE html>
<html>
<!--
	作者：github.com/WangEn
	时间：2018-02-02
	描述：添加文章类别
-->
<head>
    <meta charset="UTF-8">
    <title>添加分类-WeAdmin Frame型后台管理系统-WeAdmin 1.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/weadmin.css">
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="weadmin-body">

    <form class="layui-form">
        <input type="hidden" name="id" id="dataId" value="{$info.id|default=''}">

        <div class="layui-form-item">
            <label for="username" class="layui-form-label">
                <span class="we-red">*</span>父级
            </label>
            <div class="layui-input-inline">
                <select name="pid" class="select">
                    <option value=0>无</option>
                    {foreach $rules as $v}
                        {if condition="isset($info) && $v.id eq $info.pid"}
                        <option value="{$v.id}" selected>{$v.title}</option>
                        {else /}
                        <option value="{$v.id}">{$v.title}</option>
                        {/if}
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="categoryWeight" class="layui-form-label">菜单名</label>
            <div class="layui-input-inline">
                <input type="text" id="title" name="title" autocomplete="off" class="layui-input" value="{$info.title|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="categoryName" class="layui-form-label">图标</label>
            <div class="layui-input-inline">
                <input type="text" id="icon" name="icon" autocomplete="off" class="layui-input" value="{$info.icon|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="categoryName" class="layui-form-label">规则</label>
            <div class="layui-input-inline">
                <input type="text" id="rule" name="rule" autocomplete="off" class="layui-input" value="{$info.rule|default=''}">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="categoryName" class="layui-form-label">菜单类型</label>
            <div class="layui-input-block">
                {present name="info"}
                <input type="radio" name="type" value="menu" title="菜单" {if condition="$info.type==='menu'"}checked{/if}>
                <input type="radio" name="type" value="file" title="权限节点" {if condition="$info.type==='file'"}checked{/if}>
                {else /}
                <input type="radio" name="type" value="menu" title="菜单" checked>
                <input type="radio" name="type" value="file" title="权限节点">
                {/present}
            </div>
        </div>

        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
            </label>
            <button class="layui-btn" lay-filter="add" lay-submit="">确定</button>
        </div>

    </form>
</div>
<script src="/lib/layui/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form','layer', 'jquery'], function(){
        var form = layui.form,
            $ = layui.jquery,
            layer = layui.layer;



        //监听提交
        form.on('submit(add)', function(data){
            console.log(data.field);
            //发异步，把数据提交给php
            $.ajax({
                type: "post",
                url: "/admin/rule/edit",
                data: data.field,
                dataType: "json",
                success: function(res){
                    if (res.code != 200)
                    {
                        layer.msg(res.message, {
                            icon: 2,
                            time: 1000 //2秒关闭（如果不配置，默认是3秒）
                        });
                        return false;
                    }
                    layer.msg(res.message, {icon: 6, time: 1000},function () {


                        // 获得frame索引
                        var index = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.layer.close(index);
                        //修改成功后刷新父界面
                        window.parent.location.reload();
                    });

                },
                error: function(res)
                {
                    layer.msg(res.message, {
                        icon: 1,
                        time: 2000 //2秒关闭（如果不配置，默认是3秒）
                    });
                }
            });


            return false;
        });
    });
</script>
</body>

</html>